<!DOCTYPE html>
<html>
    <head>
        <meta charset = "utf-8">
        <meta name="viewport" content="width=device-width">
        <title>ShapeShift - Info</title>
        <link href="/styles/styles.css" rel="stylesheet"/>
        <script src="/script.js"></script>
        <style>
            .banner{
                width: 100%;
                height: 700px;
                background-image:linear-gradient(0.25turn,rgb(0, 0, 0), rgba(5, 30, 15, 0.871), rgba(37, 3, 3, 0.887)), url(background-image-large.jpg);
                background-position:center;
                background-size: cover;
                display: flex;
                justify-content: space-around;
            }
            .banner-text{
                margin: 14vh 1vw;
                color: white;
            }

            h2{
                font-size: 5vw;
                margin: 0;
                padding: 0;
                font-style: italic;
                font-weight: 200;
                color: white;  
                position: relative;
            }

           

            h2::before{
                content: "";
                position: absolute;
                width: 70%;
                height: 1px;
                bottom: 0;
                left: 32%;
                border-bottom: 1px solid rgb(15, 141, 51);
                border-width: 8px;
            }

            p{
                font-size: 18px;
                margin-bottom: 28px;
            }
            .banner-images{
                display: flex;
                position: relative;
            }
            .rejwan-front, .rejwan-side{
                position: relative;
                width:100%;
                height: 580px;
                padding-top: 120px;
                z-index: 4;
            }

            @media screen and (max-width: 849px){
                .rejwan-front{
                    display: none;
                }
                 h2 {
                    font-size: 10vw;
                }
            }

            @media screen and (max-width: 560px){
                .rejwan-side{
                    display: none;
                }
                h2 {
                    font-size: 15vw;
                }
                .banner-text h2 p{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                }
                .start{
                    font-size: 25px;
                }

            }

            .start{
                border: solid;
                font-size: 30px;
                background-color: red;
                border-color: red;
                color: white;
                text-decoration: none;
                padding: 10px;
                margin: 10px;
                transition: 0.5s ease;
            }

            .start:hover{
                background-color: rgb(137, 16, 16);
                border-color: rgb(131, 14, 14);
                box-shadow: 0px 0px 2px rgb(158, 153, 153) ;
            }
              
        </style>
    </head>
    <body>
        <header>
            <a href="/home" class="logo">
                <p class="shape-logo">SHAPE</p>
                <p class="shift-logo">SHIFT</p>
            </a> 
            <nav>
                <ul class="nav-links">
                    <li><a href="/home">Home</a></li>
                    <li><a href="/calculator.html">BMI Calculator</a></li>
                    <li><a href="/feedback">Reviews</a></li>
                    <li><a href="/fitnessPlan">Fitness Plan</a></li>
                </ul>

                <div class="dropdown">
                    <button class="dropbtn" onclick="toggleDropdown()">Menu</button>
                    <div class="dropdown-content" id="myDropdown">
                        <a href="calculator.html">BMI Calculator</a>
                        <a href="/feedback">Feedback</a>
                        <a href="/fitnessPlan">Fitness Plan</a>
                        <a href="/log-out">Log Out</a>

                    </div>
                </div>
            </nav>
            <div class="sign-up">
                <a class="sign-up-text" href="/log-out">Log Out</a>
                <a href="/profile"><img class="profile" src="profile.svg" alt="Profile icon"></a>
            </div>
        </header>
        <div class="banner">
            <div class="banner-text">
                
                <h2>Welcome <%= userName %></h2>
                <p>to the home page of ShapeShift!</p>
                <a class="start" href="/fitnessPlan">START NOW</a>
            </div>
            <div class="banner-images">
                <img class="rejwan-side" src="rejwan-side.png">  
                <img class="rejwan-front" src="rejwan-front.png">     
            </div>
       </div>


    </body>

</html>   


