<!DOCTYPE html>
<html>
    <head>
        <meta charset = "utf-8">
        <meta name="viewport" content="width=device-width">
        <title>ShapeShift - Info</title>
        <link href="/styles/styles.css" rel="stylesheet"/>
        <script src="/script.js"></script>
    </head>
    <body>
        <header>
            <a href="/home" class="logo">
                <p class="shape-logo">SHAPE</p>
                <p class="shift-logo">SHIFT</p>
            </a> 
            <nav>
                <ul class="nav-links">
                    <li><a href="/home">Home</a></li>
                    <li><a href="/calculator.html">BMI Calculator</a></li>
                    <li><a href="/feedback">Reviews</a></li>
                    <li><a href="/fitnessPlan">Fitness Plan</a></li>
                </ul>

                <div class="dropdown">
                    <button class="dropbtn" onclick="toggleDropdown()">Menu</button>
                    <div class="dropdown-content" id="myDropdown">
                        <a href="calculator.html">BMI Calculator</a>
                        <a href="/feedback">Feedback</a>
                        <a href="/fitnessPlan">Fitness Plan</a>
                        <a href="/log-out">Log Out</a>
                    </div>
                </div>
            </nav>
            <div class="sign-up">
                <a class="sign-up-text" href="/log-out">Log Out</a>
                <a href="/profile"><img class="profile" src="profile.svg" alt="Profile icon"></a>
            </div>
        </header>
        <!-- Workout Video Sections Start Here -->
<section class="workout-container">
    <div class = "row">
      <div class="workout-column">
    <h3>Chest Workout</h3>
    
    <div class="workout-section">
        <!-- Chest Workouts -->
        <video controls class="workout-video">
            <source src="videos/DiamondPushUp.MOV">
        </video>
        <div class="workout-description">
            <h4>DiamondPushUp</h4>
            <p>Form a diamond with your hand, then lay down, press up and squeeze your chest</p>
        </div>
    </div>
          
    <div class="workout-section">
        <!-- Chest Workouts -->
        <video controls class="workout-video">
            <source src="videos/dips.MOV">
        </video>
        <div class="workout-description">
            <h4>Dips</h4>
            <p>lean your chest over, decend until your elbows are at 90 degress, then push up and squeeze</p>
        </div>
    </div>
    
    <div class="workout-section">
        <!-- Chest Workouts -->
        <video controls class="workout-video">
            <source src="videos/WideGripPushUP.MOV">
        </video>
        <div class="workout-description">
            <h4>WideGripPushUp</h4>
            <p>Plant your hands on the ground, lower down with control, press up and squeeze your chest</p>
        </div>
      </div>
    </div>
        <!-- Back Workouts Column -->
         <div class="workout-column">
            <h3>Back Workout</h3>
            <div class="workout-section">
                <video controls class="workout-video">
                    <source src="videos/AssistedPullUp.MOV">
                </video>
                <div class="workout-description">
                    <h4>AssistedPullup</h4>
                    <p>Arch your back, then pull upwards and get your chin over the bar, descend driving elbows down</p>
                </div>
            </div>
            
            <div class="workout-section">
                <video controls class="workout-video">
                    <source src="videos/BackExtension.MOV">
                </video>
                <div class="workout-description">
                    <h4>BackExtension</h4>
                    <p>Keep your back straight as much as possible, descend, focus on full extension at the top</p>
                </div>
            </div>
             
            <div class="workout-section">
                <video controls class="workout-video">
                    <source src="videos/weightedBackExtension.MOV">
                </video>
                <div class="workout-description">
                    <h4>WeightedExtension</h4>
                    <p>Keep your back straight,wrap your arms around 10kg plate, descend, focus on full extension at the top</p>
                </div>
            </div>
         </div>
         <!-- Arm Workouts Column -->
         <div class="workout-column">
            <h3>Arms Workout</h3>
            <div class="workout-section">
                <video controls class="workout-video">
                    <source src="videos/MachineShoulderPress.MOV">
                </video>
                <div class="workout-description">
                    <h4>MachineShoulder</h4>
                    <p>Grip on the bar, retract your shoulder blades, engage the core, push up, slowly come down</p>
                </div>
            </div>
        <div class="workout-section">
                <video controls class="workout-video">
                    <source src="videos/CableCurls.MOV">
                </video>
                <div class="workout-description">
                    <h4>Cable Curls</h4>
                    <p>keep shoulders down and back in a fixated position and your chest up, focus curling towards you</p>
                </div>
            </div>
            <div class="workout-section">
                <video controls class="workout-video">
                    <source src="videos/RearDealtFly.MOV">
                </video>
                <div class="workout-description">
                    <h4>Rear Delt Fly</h4>
                    <p>Lean onto the pad, Potract forward, open out and away, keeping scapulas locked in place</p>
                </div>
            </div>
        </div>
        <!-- Leg/Core Workouts Column -->
         <div class="workout-column">
            <h3>leg and core Workout</h3>
            <div class="workout-section">
                <video controls class="workout-video">
                    <source src="videos/Squats.MOV">
                </video>
                <div class="workout-description">
                    <h4>Squats</h4>
                    <p>As you go down, push back on your hips, then spread your knees apart, then push up </p>
                </div>
            </div>
        <div class="workout-section">
                <video controls class="workout-video">
                    <source src="videos/SitUp.MOV">
                </video>
                <div class="workout-description">
                    <h4>Sit Up</h4>
                    <p>Lock feet into place, Always keep core tight, only use stomach muscles to pull up </p>
                </div>
            </div>
             
            <div class="workout-section">
                <video controls class="workout-video">
                    <source src="videos/Planks.MOV">
                </video>
                <div class="workout-description">
                    <h4>Plank</h4>
                    <p>Place forearms on the ground, face down,pull elbows down, fully straighten legs by squeezing thighs </p>
                </div>
            </div>
      </div>
        </div>
    </section>

    </body>

</html>   