<!DOCTYPE html>
<html>
    <head>
        <meta charset = "utf-8">
        <meta name="viewport" content="width=device-width">
        <title>ShapeShift - Info</title>
        <link href="/styles/styles.css" rel="stylesheet"/>
        <script src="/script.js"></script>
        <style>.workout-container {
            position: relative;
            padding-top: 100px;
        }
        </style>
        
    </head>
    <body>
        <header>
            <a href="/home" class="logo">
                <p class="shape-logo">SHAPE</p>
                <p class="shift-logo">SHIFT</p>
            </a> 
            <nav>
                <ul class="nav-links">
                    <li><a href="/home">Home</a></li>
                    <li><a href="/calculator.html">BMI Calculator</a></li>
                    <li><a href="/feedback">Reviews</a></li>
                    <li><a href="/fitnessPlan">Fitness Plan</a></li>
                </ul>

                <div class="dropdown">
                    <button class="dropbtn" onclick="toggleDropdown()">Menu</button>
                    <div class="dropdown-content" id="myDropdown">
                        <a href="calculator.html">BMI Calculator</a>
                        <a href="/feedback">Feedback</a>
                        <a href="/fitnessPlan">Fitness Plan</a>
                        <a href="/log-out">Log Out</a>
                    </div>
                </div>
            </nav>
            <div class="sign-up">
                <a class="sign-up-text" href="/log-out">Log Out</a>
                <a href="/profile"><img class="profile" src="profile.svg" alt="Profile icon"></a>
            </div>
        </header>
        <!-- Workout Video Sections Start Here -->
<section class="workout-container">
    <div class = "row">
      <div class="workout-column">
    <h3>Chest Workout</h3>
    
    <div class="workout-section">
        <!-- Chest Workouts -->
        <video controls class="workout-video">
            <source src="videos/chestpress.mp4">
        </video>
        <div class="workout-description">
            <h4>Dumbell Press</h4>
            <p>Kick dumbells up, arch your back, tuck in your elbows, press up,and come back down slowly</p>
        </div>
    </div>
          
    <div class="workout-section">
        <!-- Chest Workouts -->
        <video controls class="workout-video">
            <source src="videos/weighteddips.MOV">
        </video>
        <div class="workout-description">
            <h4>Weighted Dips</h4>
            <p>lean your chest over, decend until your elbows are at 90 degress, then push up and squeeze</p>
        </div>
    </div>
    
    <div class="workout-section">
        <!-- Chest Workouts -->
        <video controls class="workout-video">
            <source src="videos/benchPress.MOV">
        </video>
        <div class="workout-description">
            <h4>Bench Press</h4>
            <p>Adjust your grip, push your knees out, arch your back, pull the bar out, lower the bar down, then push back up</p>
        </div>
      </div>
    </div>
        <!-- Back Workouts Column -->
         <div class="workout-column">
            <h3>Back Workout</h3>
            <div class="workout-section">
                <video controls class="workout-video">
                    <source src="videos/LatPulldown.MOV">
                </video>
                <div class="workout-description">
                    <h4>Lat Pulldown</h4>
                    <p>Lean slighty back, Pull bar down to upper chest,squeeze,  control the bar slowly back up </p>
                </div>
            </div>
            
            <div class="workout-section">
                <video controls class="workout-video">
                    <source src="videos/weightedpullups.MOV">
                </video>
                <div class="workout-description">
                    <h4>Weighted pul up</h4>
                    <p>Arch your back, then pull upwards and get your chin over the bar, descend driving elbows down</p>
                </div>
            </div>
             
            <div class="workout-section">
                <video controls class="workout-video">
                    <source src="videos/ConvergingSeatedRow.MOV">
                </video>
                <div class="workout-description">
                    <h4>Seated rows</h4>
                    <p>Adjust into a wide grip, then drive your elbows down and back</p>
                </div>
            </div>
         </div>
         <!-- Arm Workouts Column -->
         <div class="workout-column">
            <h3>Arms Workout</h3>
            <div class="workout-section">
                <video controls class="workout-video">
                    <source src="videos/CableLateralRaises.MOV">
                </video>
                <div class="workout-description">
                    <h4>Cable lat raises</h4>
                    <p>Adjust pully, lean forward, pull cable out above your shoulders, squeeze, come back down</p>
                </div>
            </div>
        <div class="workout-section">
                <video controls class="workout-video">
                    <source src="videos/cableTricepPushDown.MOV">
                </video>
                <div class="workout-description">
                    <h4>Tricep Pulldown</h4>
                    <p>lean forward, pull cable down with your elbows in a fixated position, then squeeze, come back up</p>
                </div>
            </div>
            <div class="workout-section">
                <video controls class="workout-video">
                    <source src="videos/seatedCurls.MOV">
                </video>
                <div class="workout-description">
                    <h4>Seated curls</h4>
                    <p>lean back, straighten your arm, pull dumbells up, squeeze, come back down</p>
                </div>
            </div>
        </div>
        <!-- Leg/Core Workouts Column -->
         <div class="workout-column">
            <h3>leg and core Workout</h3>
            <div class="workout-section">
                <video controls class="workout-video">
                    <source src="videos/leg%20press.MOV">
                </video>
                <div class="workout-description">
                    <h4>Hack squat</h4>
                    <p>Pull the leaver, descend down below your knees, push your legs to ascend back up</p>
                </div>
            </div>
        <div class="workout-section">
                <video controls class="workout-video">
                    <source src="videos/weightedDeclineSitUps.MOV">
                </video>
                <div class="workout-description">
                    <h4>Decline sit up</h4>
                    <p>Wrap your arm around a 10kg plate, push upwards, and squeeze, then go back down </p>
                </div>
            </div>
             
            <div class="workout-section">
                <video controls class="workout-video">
                    <source src="videos/AbMachine.MOV">
                </video>
                <div class="workout-description">
                    <h4>Ab machine</h4>
                    <p>legs out, pull the leaver down, while bending down, squeeze </p>
                </div>
            </div>
        
      </div>
        </div>

</section>


    </body>

</html>   