<!DOCTYPE html>
<html>
    <head>
        <meta charset = "utf-8">
        <meta name="viewport" content="width=device-width">
        <title>ShapeShift - Info</title>
        <link href="/styles/styles.css" rel="stylesheet"/>
        <script src="/script.js"></script>
    </head>
    <body>
        <header>
            <div class="logo-container">
                <a href="/home" class="logo">
                    <img src ="Logo.jpg" alt ="logo">
                </a>    
            </div>
            <nav>
                <div class="dropdown">
                    <button class="dropbtn" onclick="toggleDropdown()">Menu</button>
                    <div class="dropdown-content" id="myDropdown">
                        <a href="/feedback">Feedback</a>
                        <a href="/fitnessPlan">Fitness Plan</a>
                        <a href="calculator.html">Calorie Calculator</a>
                        <a href="/log-out">Log out</a>
                    </div>
                </div>
            </nav>
        </header>
        </div>

    </body>

</html>   