body {
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif;
    background-color: #e7e3e3;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(255, 255, 255);
    padding: 30px;
    width: 99.5%;
    position: fixed;
    
}

h1 {
    color: black;
}

.logo {
    color: black;
    font-size: 25px;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 1000;
    font-style: italic;
}

.shape-logo {
    margin: 10px;
    margin-bottom: 5px;
    position: relative;
}
.shape-logo::before{
    content: "";
    position: absolute;
    width: 45%;
    height: 1px;
    bottom: 0;
    left: 0%;
    border-bottom: 1px solid red;
    border-width: 5px;
}
.shift-logo{
    margin: 1px;
    margin-top: 1px;
    margin-left:50px;
    border-bottom: 1px solid rgb(0, 143, 83);
    border-width: 5px;
}

.logo-container {
    padding-left: 50px;
    margin-top: -12px;
}

.nav-links, .sign-up, .profile{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: black;
    text-decoration: none;
} 

/* Dropdown wrapper */
.dropdown {
    position: relative;
    margin-top: auto;
}

/* Dropdown button */
.dropbtn {
    background-color: transparent;
    color: rgb(0, 0, 0);
    font-size: 16px;
    border: none;
    cursor: pointer;
    padding: 0;
    margin: 0;
    position: relative;
    display: flex;
    width: auto;
    height: auto;
    margin-right: 10px;

}

/* Dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 400%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 2;
    left: -280%;
    top: 155%;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd;
}

/* Change logo of site to image and links back to home page */
.logo {
    display: block;
    height: auto; /* Maintain aspect ratio */
    width: auto;
}

