body {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    background-color: #e7e3e3;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(255, 255, 255);
    width: 100vw;
    position: sticky;
    z-index: 999;
}


h1 {
    color: black;
}
nav {
    display: flex;
    justify-content: center;
}

.logo {
    color: black;
    font-size: 25px;
    text-decoration: none;  
    font-optical-sizing: auto;
    font-weight: 1000;
    font-style: italic;
    position: relative;
    left: 3%;
    bottom: 100%;
}

.shape-logo {
    
    margin-bottom: 1px;
    position: relative;
    right: 7%;
    bottom: 10px;
}
.shape-logo::before{
    content: "";
    position: absolute;
    width: 45%;
    height: 1px;
    bottom: 0;
    left: 0%;
    border-bottom: 1px solid red;
    border-width: 5px;
}
.shift-logo{
    position: relative;
    left: 40px;
    bottom: 22px;
    margin: 0px;
    border-bottom: 1px solid rgb(0, 143, 83);
    border-width: 5px;
}


.nav-links a, .sign-up a{
    font-weight: 700;
    font-size: 18px;
    color: black;
    text-decoration: none;
} 

.nav-links {
    list-style: none;
}
.nav-links li {
    display: inline-block;
    padding: 0px 20px;
}
.nav-links li a{
    position: relative;
    display: inline-block;
    padding: 6px;
    overflow: hidden;
    
}
.nav-links li a::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 4px;
    background-color: red;
    transition: width 0.5s ease;
}
.nav-links li a:hover::after{
    width: 100%;
}

.sign-up{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    position: relative;
    right: 20px;
    top: -2px;
}

.sign-up-text{
    transition: all 0.5s ease;
}
.sign-up-text:hover{
    text-shadow: 0px 0px 1px rgb(55, 43, 43) ;
}
.profile{
    display: block;
    width: 50px;
    height: auto;
    transition: all 0.5s ease;
}
.profile:hover{
    cursor: pointer;
}

/* Dropdown wrapper */
.dropdown {
    display: none;
}

@media screen and (max-width: 1000px) {
    /* Dropdown wrapper */
    .dropdown {
        position: relative;
        margin-top: auto;
        display: inline-block;
    }

    .nav-links, .sign-up{
        display: none;
    }


    /* Dropdown button */
    .dropbtn {
        background-color: transparent;
        color: rgb(0, 0, 0);
        font-size: 16px;
        border: none;
        cursor: pointer;
        padding: 0;
        margin: 0;
        position: relative;
        display: flex;
        width: auto;
        height: auto;
        margin-right: 10px;

    }

    /* Dropdown content */
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 400%;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 999;
        left: -300%;
        top: 245%;

    }

    /* Links inside the dropdown */
    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        z-index: 2;
    }

    /* Change color of dropdown links on hover */
    .dropdown-content a:hover {
        background-color: #ef6464;
        display: block;
    }
}


